<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>
<body>
    <body style="background: #211510;">
        <div id="wrap">
            <div id="space" style="height: 5px;"></div>
            <div id="container" style="height: 50px;">
                <div id="button">
                    <a id="button_link" href="./board/login">
                        <div id="button_inner">
                            <h2>Log In</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div id="space" style="height: 5px;"></div>
            <div id="container" style="height: 50px;">
                <div id="button">
                    <a id="button_link" href="./board/join">
                        <div id="button_inner">
                            <h2>Create Account</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div id="space" style="height: 5px;"></div>
            <div id="container" style="height: 50px;">
                <div id="button">
                    <a id="button_link" class="hidden" onclick="fc1();">
                        <div id="button_inner">
                            <h2>떠든 사람</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div id="space" style="height: 5px;"></div>
            <div id="createby" class="hide on">
                <div id="createby_text">
                    <h2>나성민(반장)</h2>
                    <h2>이혜준</h2>
                    <h2>남지환</h2>
                </div>
            </div>
        </div>
        <div id="tool">
            <div id="eraser"><div id="eraser_handle"></div></div>
            <div id="chalk">
                <div id="chalk_white"></div>
                <div id="chalk_blue"></div>
                <div id="chalk_pink"></div>
            </div>
        </div>
    </div>
</body>
</html>
