*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    /*font-family: 'Noto Serif KR', serif;*/
}
a{
    text-decoration: none;
    color : rgb(102, 101, 101);
}

#userinfo{
    text-align: right;
    padding: 10px 190px 0 0;
}

#userid{
    color: #496bbb;
}

#userinfo>span{
    display: block;
    height: 30px;
    font-size: 23px;
    font-weight: bold;
}

#logout{
    font-size: 18px;
    font-weight: 900;
    background: lightgray;
    display: inline-block;
    width: 120px;
    height: 30px;
    padding: 7px 0 0 0;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #a29b9b;
}

#logout:hover{
    background: gray;
    color: white;
}

#cal_navi{
    text-align: center;
    font-size: 50px;
    height: 150px;
    padding: 30px 0 0 0;
}
#cal_navi>span{
    display: inline-block;
    width: 500px;
}

#cal_navi>span>span{
    font-weight: 700;
    font-size: 60px;
}

#left:hover,
#right:hover{
    color: #496bbb;
}


table{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    /*border: 1px solid gray*/
}


#calander>:nth-child(1){
    background: rgb(102, 101, 101);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#calander>tr
{
    height: 150px;
    font-size: 20px;
    font-weight: 500;
    background: lightgrey;
    cursor:pointer;
}



#calander>tr>td>span{
    /*height: 100%;*/
    display: block;
    text-align: right;
    padding: 5px 6px 0 0;
}

#sun,
#calander>tr>:nth-child(1)
{
    color: rgb(158, 19, 19);
}
#sat,
#calander>tr>:nth-child(7)
{
    color: rgb(20, 20, 236);
}

#box_day:hover{
    background: rgb(178, 199, 137)
}

#box_day>p{ 
    height: 81%;
    width: 200px;
}

#box_day>p>p{
    color: black;
    cursor:pointer;
    background: rgb(136, 136, 255);
    border: 1px solid rgb(236, 236, 236);
    box-sizing: border-box
}

h1{ 
    font-family: 'Oswald', sans-serif; 
    font-size: 30px; 
    color: #216182; 
} 
label { 
    display: block; 
    margin-top: 20px; 
    letter-spacing: 2px; 
} 
form { 
    margin: 0 auto; 
    width: 459px; 
} 

input, textarea { 
    width: 439px; 
    height: 27px; 
    background-color: #efefef; 
    border-radius: 6px; 
    border: 1px solid #dedede; 
    padding: 10px; 
    margin-top: 3px; 
    font-size: 0.9em; 
    color: #3a3a3a; 
} 

#date_area{
    display:none;
}
input:focus, textarea:focus{ 
        border: 1px solid #97d6eb; 
    } 


textarea{ 
    margin-top: 20px;
    height: 60px; 
    background-color: #efefef; 
} 
#submit{ 
    width: 127px; 
    height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#submit:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
} 
#cancel { 
    width: 127px; height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#cancel:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
}


.modal { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
.modal-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 1.5rem; 
    width: 500px; 
    height: 350px; 
    border-radius: 0.5rem; 
} 
.close-button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.25rem; 
    background-color: lightgray; 
} 
.close-button:hover { 
    background-color: darkgray; 
} 

.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 



/*************************************************************************/



#id_area_modify{
    display:none;
}


#submit_modify{ 
    width: 127px; 
    height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#submit_modify:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
} 
#cancel_modify { 
    width: 127px; height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
} 
#cancel_modify:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
}

.modify { 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
.modify-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 1.5rem; 
    width: 500px; 
    height: 350px; 
    border-radius: 0.5rem; 
} 
.close-modify { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.25rem; 
    background-color: lightgray; 
} 
.close-modify:hover { 
    background-color: darkgray; 
} 

.show-modify { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
/*************************************************/

