<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/calendar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
    <body>
        <div id="userinfo">
            {% if isLogin %}
                <span>
                    <span id="userid">{{userid}}</span>'s SCHEDULER 
                </span><br>
                <a href="/board/logout" id="logout">Logout</a>
            {% endif %}
        </div>

        <div id="cal_navi">
            <a href = '/board/calendar/?year={{year}}&month={{month_minus}}'>&lt;</a>
            <span id="y-m">
                <span id="year">{{year}}</span>-<span id="month">{{month}}</span>
            </span>
            <a href = '/board/calendar/?year={{year}}&month={{month_plus}}'>&gt;</a>
        </div>
            <table id='calander'>
                <tr>
                    <td id="sun">일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td id="sat">토</td>
                </tr>
            </table>
        <div class="modal"> 
            <div class="modal-content"> 
                <span class="close-button">&times;</span> 
                <h1 class="title">Create schedule</h1>
                <h2 class="date_modify"></h2> 
                <form id="schedule_form" action = "/board/schedule" method="post"> 
                    <textarea id= "date_area" name="date_area" required = required></textarea>
                    <textarea id = "text" name="message" placeholder="Test Message" required="required"></textarea> 
                </form> 
                <input type="button" id="cancel" value="취소"> 
                <input type="button" id="submit" value="확인"> 
            </div> 
        </div>

        <div class="modify"> 
            <div class="modify-content"> 
                <span class="close-modify">&times;</span> 
                <h1 class="title">Modify schedule</h1>
                <h2 class="date"></h2> 
                <form id="modify_form" action = "/board/modify" method="post"> 
                    <textarea id= "id_area_modify" name="id_area" required = required></textarea>
                    <textarea id = "text_modify" name="message" placeholder="Test Message" required="required"></textarea> 
                </form> 
                <form id="delete_form" action = "/board/delete" method="post"> 
                    <textarea id= "id_area_modify" name="id_area" required = required></textarea>
                </form>
                <input type="button" id="cancel_modify" value="삭제"> 
                <input type="button" id="submit_modify" value="수정"> 
            </div> 
        </div>

    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript">
    

        let calander = document.querySelector('#calander')
        let modal = document.querySelector('.modal')
        let closeButton = document.querySelector('.close-button')
        let cancel = document.querySelector('#cancel')
        let date = document.querySelector('.date')
        let submit = document.querySelector('#submit')
        let schedule_form = document.querySelector('#schedule_form')
        let text = document.querySelector('#text')
        let date_area = document.querySelector('#date_area')
        let userid = document.querySelector('#userid')

        let modify = document.querySelector('.modify')
        let close_modify = document.querySelector('.close-modify')
        let cancel_modify = document.querySelector('#cancel_modify')
        let submit_modify = document.querySelector('#submit_modify')
        let modify_form = document.querySelector('#modify_form')
        let text_modify = document.querySelector('#text_modify')
        let delete_form = document.querySelector('#delete_form')
        let id_area_modify = document.querySelectorAll('#id_area_modify')


        let setYear = document.querySelector('#year').innerHTML
        let setMonth = document.querySelector('#month').innerHTML
        let setDay = 1; 
        let dt = new Date(`${setYear}-${setMonth}-${setDay}`)
        let dt2 = new Date(setYear, setMonth,0)
        let lastDay = dt2.getDate();
        let weekDay = dt.getDay();


        
        week = document.createElement('tr')

        for(i=0; i < lastDay + weekDay; i++){
            let day = document.createElement('td')
            let span = document.createElement('span')
            let p = document.createElement('p')
            if(i < weekDay){
                week.appendChild(day)
                continue
            }else{
                span.innerHTML = String(i+1-weekDay).padStart(2,0)
                p.innerHTML = "contents들"
                day.setAttribute('class',`${setYear}-${setMonth.padStart(2,0)}-${span.innerHTML}`)
                day.setAttribute('data-value',`${setYear}-${setMonth.padStart(2,0)}-${span.innerHTML}`)
                day.setAttribute('id','box_day')
                day.addEventListener('click',create_schedule)
                day.appendChild(span)
                day.appendChild(p)
                week.appendChild(day)
                if((i+1)%7==0){
                    calander.appendChild(week)
                    week = document.createElement('tr')
                }
            }
        }

        async function get_data(){
            
            const table = document.querySelectorAll('#calander > tr');
            let data = await axios.get(`http://localhost:3000/board/get_data?userid=${userid.innerHTML}&month=${setMonth}`);
            console.log(data)
            table.forEach(tr => {
                td =tr.querySelectorAll('td');
                td.forEach(row=>{
                    if(row.dataset.value != undefined){   
                        for(let v of data.data.result){ 
                            p = document.createElement('p');
                            if(row.dataset.value == v.scheduledt){
                                p.addEventListener('click',modify_schedule)
                                p.setAttribute('class',`${v.id}`)
                                p.innerHTML = v.content;
                                row.querySelector('p').appendChild(p)
                        }
                        }
                    }
                })
            })
        }
        get_data();

 
        
        function create_schedule(e){

            if(e.target.nodeName === "P"){
                return
            }
            date.innerHTML = `${setYear}-${setMonth.padStart(2,0)}-${this.children[0].innerHTML}`
            modal.setAttribute('class','modal show-modal')
        }

        function close_schedule(){
            modal.setAttribute('class','modal')
        }

        function submit_schedule(){
            modal.setAttribute('class','modal')
            if (text.value==''){
                return
            }
            date_area.value = `${date.innerHTML}`
            schedule_form.submit()
            date_area.value = ''
        }

        function modify_schedule(){
            id = this.className
            date.innerHTML = this.parentNode.parentNode.className
            modify.setAttribute('class','modify show-modify')
            text_modify.innerHTML = this.innerHTML
        }

        function close_modify_function(){
            modify.setAttribute('class','modify')
        }

        function delete_modify(){
            
            id_area_modify[1].value = id
            modify.setAttribute('class','modify')
            delete_form.submit()
        }

        function start_modify(){
            id_area_modify[0].value = id
            if(text_modify.value==''){
                delete_modify()
                return
            }
            modify_form.submit()
            modify.setAttribute('class','modify')
        }

        calander.appendChild(week)

        closeButton.addEventListener('click',close_schedule)

        cancel.addEventListener('click',close_schedule)

        submit.addEventListener('click',submit_schedule)

        close_modify.addEventListener('click',close_modify_function)

        cancel_modify.addEventListener('click',delete_modify)

        submit_modify.addEventListener('click',start_modify)






    </script>
</html>