<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/calendar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
    <body>
        <div id="userinfo">
            {% if isLogin %}
                <span>
                    <span id="userid">{{userid}}</span>'s SCHEDULER 
                </span><br>
                <a href="/board/logout" id="logout">Logout</a>
            {% endif %}
        </div>

        <div id="cal_navi">
            <a href = '/board/calendar/?year={{year}}&month={{month_minus}}'>&lt;</a>
            <span id="y-m">
                <span id="year">{{year}}</span>-<span id="month">{{month}}</span>
            </span>
            <a href = '/board/calendar/?year={{year}}&month={{month_plus}}'>&gt;</a>
        </div>
            <table id='calander'>
                <tr>
                    <td id="sun">일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td id="sat">토</td>
                </tr>
            </table>
        <div class="modal"> 
            <div class="modal-content"> 
                <span class="close-button">&times;</span> 
                <h1 class="title">Create schedule</h1>
                <h2 class="date"></h2> 
                <form id="schedule_form" action = "/board/schedule" method="post"> 
                    <textarea id= "date_area" name="date_area" required = required></textarea>
                    <textarea id = "text" name="message" placeholder="Test Message" required="required"></textarea> 
                </form> 
                <input type="button" id="cancel" value="취소"> 
                <input type="button" id="submit" value="확인"> 
            </div> 
        </div>
    </body>
    
    <script type="text/javascript">

        let calander = document.querySelector('#calander')
        let modal = document.querySelector('.modal')
        let closeButton = document.querySelector('.close-button')
        let cancel = document.querySelector('#cancel')
        let date = document.querySelector('.date')
        let submit = document.querySelector('#submit')
        let schedule_form = document.querySelector('#schedule_form')
        let text = document.querySelector('#text')
        let date_area = document.querySelector('#date_area')


        let setYear = document.querySelector('#year').innerHTML
        let setMonth = document.querySelector('#month').innerHTML
        let setDay = 1; 
        let dt = new Date(`${setYear}-${setMonth}-${setDay}`)
        let dt2 = new Date(setYear, setMonth,0)
        let lastDay = dt2.getDate();
        let weekDay = dt.getDay();

        week = document.createElement('tr')

        for(i=0; i < lastDay + weekDay; i++){
            let day = document.createElement('td')
            let span = document.createElement('span')
            if(i < weekDay){
                week.appendChild(day)
                continue
            }else{
                span.innerHTML = String(i+1-weekDay).padStart(2,0)
                day.setAttribute('class',`${setMonth.padStart(2,0)}-${span.innerHTML}`)
                day.setAttribute('id','box_day')
                day.addEventListener('click',create_schedule)
                day.appendChild(span)
                week.appendChild(day)
                if((i+1)%7==0){
                    calander.appendChild(week)
                    week = document.createElement('tr')
                }
            }
        }

        function create_schedule(){
            date.innerHTML = `${setYear}-${setMonth.padStart(2,0)}-${this.children[0].innerHTML}`
            modal.setAttribute('class','modal show-modal')
        }

        function close_schedule(){
            modal.setAttribute('class','modal')
        }

        function submit_schedule(){
            modal.setAttribute('class','modal')
            if (text.value==''){
                return
            }
            date_area.value = `${date.innerHTML}`
            schedule_form.submit()
            date_area.value = ''
        }

        calander.appendChild(week)

        closeButton.addEventListener('click',close_schedule)

        cancel.addEventListener('click',close_schedule)

        submit.addEventListener('click',submit_schedule)
        
    </script>
</html>