<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/calendar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <script src="/js/calendar.js"></script>
    <title>Document</title>
</head>
    <body>
        <div id="userinfo">
            {% if isLogin %}
                <span>
                    <span id="userid">{{userid}}</span>'s SCHEDULER 
                </span><br>
                <a href="/board/logout" id="logout">Logout</a>
            {% endif %}
        </div>

        <div id="cal_navi">
            <a href = '/board/calendar/?year={{year}}&month={{month_minus}}' id="left">&lt;</a>
            <span id="y-m">
                <span id="year">{{year}}</span>-<span id="month">{{month}}</span>
            </span>
            <a href = '/board/calendar/?year={{year}}&month={{month_plus}}' id="right">&gt;</a>
        </div>
        
            <table id='calander'>
                <tr>
                    <td id="sun">일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td id="sat">토</td>
                </tr>
            </table>
    </body>
</html>