<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/join.css" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background: #211510;">
    <div id="body">
        <div id="wrap">
            <div id="space" style="height: 100px;"></div>
            <div id="container">
                <div id="title">
                    <a href="../main.html" style="color: #000;"><h2>SCHEDULER</h2></a>
                </div>
            </div>
            <div id="container">
                <div id="sub_title">
                    <a style="color: #000;"><h2>Join Us!</h2></a>
                </div>
            </div>
            <div id="space" style="height: 100px;"></div>
            <div id="container" style="height: 350px;">
                <form>
                    <input id="input_text" type="text" placeholder="ID">
                    <div id="space" style="height: 10px;"></div>
                    <input id="input_text" type="text" placeholder="PASSWORD">
                    <div id="space" style="height: 10px;"></div>
                    <input id="input_text" type="text" placeholder="PASSWORD_CHECK">
                    <div id="space" style="height: 10px;"></div>
                    <input id="input_text" type="text" placeholder="NAME">
                    <div id="space" style="height: 10px;"></div>
                    <div id="radio_box">
                        <input type="radio" checked="checked"><span id="radio_text">Male</span>
                        <input type="radio"><span id="radio_text">Female</span>
                    </div>
                    <div id="space" style="height: 10px;"></div>
                    <input id="input_text" type="text" placeholder="E-MAIL">
                    <div id="space" style="height: 10px;"></div>
                    <div id="image_text">IMAGE UPLOAD</div>
                    <input id="input_image" type="file">
                </form>
            </div>
            <div id="space" style="height: 20px;"></div>
            <div id="container" style="height: 50px;">
                <div id="long_button">
                    <a id="button_link" href="#">
                        <div id="button_inner">
                            <h2>Sign In</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div id="space" style="height: 200px;"></div>
        </div>
    </div>
</body>
</html>
