<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/join.css" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background: #211510;">
    <div id="body">
        <div id="wrap">
            <div id="space" style="height: 100px;"></div>
            <div id="container">
                <div id="title">
                    <a href="../main.html" style="color: #000;"><h2>SCHEDULER</h2></a>
                </div>
            </div>
            <div id="container">
                <div id="sub_title">
                    <a style="color: #000;"><h2>Thank You!</h2></a>
                </div>
            </div>
            <div id="space" style="height: 100px;"></div>
            <div id="container" style="height: 90px;">
                {{userid}}({{username}})님 사이트 가입을 환영합니다
                <div id="space" style="height: 20px;"></div>
                <div id="container" style="height: 50px;">
                    <div id="long_button">
                        <a id="button_link" class="login_submit" href="#">
                            <div id="button_inner">
                                <h2>Go Main</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="space" style="height: 100px;"></div>
        </div>
    </div>
    <div id="space" style="height: 70px;"></div>
</body>
</html>